<nav class="tw-bg-themeColor tw-text-white tw-border-gray-200">
  <div
    class="tw-max-w-screen-xl tw-flex tw-flex-wrap tw-items-center tw-justify-between tw-mx-auto tw-p-3 lg:tw-p-4"
  >
    <div>
      <span
        (click)="handleHome()"
        class="tw-text-2xl lg:tw-text-2xl tw-font-semibold tw-cursor-pointer"
        >My-Cart
      </span>
    </div>
    <div class="tw-relative tw-hidden md:tw-flex tw-items-center">
      <input
        type="text"
        class="tw-w-96 tw-p-2 tw-ps-4 tw-text-sm tw-text-gray-900 tw-outline-none !tw-outline-0 tw-rounded-sm"
        placeholder="Search Kareeee......"
      />
      <button>
        <ng-icon
          name="matSearchOutline"
          size="28"
          color="gray"
          class="tw-absolute tw-right-2 tw-top-1"
        />
      </button>
    </div>
    <div>
      <ul class="tw-flex tw-items-center tw-justify-between tw-gap-4">
        @if(activeUserRole() === 'user'){
        <li>
          <button
            [routerLink]="['/user', 'cart']"
            class="tw-cursor-help tw-flex"
          >
            <ng-icon name="matShoppingCartOutline" size="28" />
          </button>
        </li>
        }

        <!-- Jo login hase to profile wadu dekhase baki login (aama user-admin wise alag batavu padse, e decide karie pachi) -->
        @if(activeUserRole() !== 'guest'){
        <li ngbDropdown>
          <button
            type="button"
            id="userAccountDropdown"
            class="tw-flex user-account"
            ngbDropdownToggle
          >
            <ng-icon name="matAccountCircleOutline" size="28" />
          </button>
          <div ngbDropdownMenu aria-labelledby="userAccountDropdown">
            @if(activeUserRole() === 'user'){
            <button [routerLink]="['/user', 'order-history']" ngbDropdownItem>
              My Orders
            </button>
            }
            <button [routerLink]="['my-profile']" ngbDropdownItem>
              My Profile
            </button>
            <button (click)="handleLogout()" ngbDropdownItem>Logout</button>
          </div>
        </li>
        }@else{
        <li class="tw-cursor-pointer tw-flex" (click)="handleLogin()">
          <ng-icon name="matLoginOutline" size="28" />
        </li>
        }
      </ul>
    </div>
  </div>

  <!-- Aa search che ne mobile view mate che samji gaya ne bhaioooo -->
  <div class="tw-relative tw-flex tw-items-center md:tw-hidden tw-px-2 tw-pb-2">
    <input
      type="text"
      class="tw-w-full lg:tw-w-96 tw-p-2 tw-ps-4 tw-py-3 tw-text-sm tw-text-gray-900 tw-outline-none !tw-outline-0 tw-rounded-sm"
      placeholder="Search Kareeee......"
    />
    <button>
      <ng-icon
        name="matSearchOutline"
        size="28"
        color="gray"
        class="tw-absolute tw-right-4 tw-top-2"
      />
    </button>
  </div>
</nav>

<!-- Admin hase to user and product show karse, baki categories -->
@if(activeUserRole() === 'admin'){
<nav class="tw-bg-gray-300">
  <div class="tw-max-w-screen-xl tw-p-3 tw-mx-auto">
    <div class="tw-flex tw-items-center">
      <ul
        class="tw-flex tw-flex-row tw-font-medium tw-mt-0 tw-text-sm tw-gap-4"
      >
        <li>
          <button
            [routerLink]="['/admin', 'manage-user']"
            type="button"
            class="tw-flex tw-items-center tw-gap-1"
          >
            Users
          </button>
        </li>
        <li>
          <button
            [routerLink]="['/admin', 'manage-products']"
            type="button"
            class="tw-flex tw-items-center tw-gap-1"
          >
            Products
          </button>
        </li>
        <li>
          <button
            [routerLink]="['/admin', 'manage-categories']"
            type="button"
            class="tw-flex tw-items-center tw-gap-1"
          >
            Categories
          </button>
        </li>
        <li>
          <button
            [routerLink]="['/admin', 'manage-brands']"
            type="button"
            class="tw-flex tw-items-center tw-gap-1"
          >
            Brands
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
} @else {
<nav class="tw-bg-gray-300">
  <div class="tw-max-w-screen-xl tw-p-3 tw-mx-auto tw-overflow-x-auto">
    <div class="tw-flex tw-items-center">
      <ul
        class="tw-flex tw-flex-row tw-font-medium tw-mt-0 tw-text-sm custom-ul"
      >
        <li class="tw-text-gray-900 tw-hidden md:tw-block tw-text-nowrap">
          <p>Shop By Categories &nbsp; |</p>
        </li>
        @for(category of categories;track category){
        <li>
          <button
            class="tw-text-gray-900 hover:tw-underline tw-text-nowrap tw-cursor-pointer"
            (click)="handleNavigateToCategory(category.name)"
          >
            {{ category.name }}
          </button>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
}
