<footer class="tw-p-4 sm:tw-p-6 tw-w-full tw-bg-gray-300">
  <div
    class="tw-mx-auto tw-max-w-screen-xl tw-flex tw-flex-col sm:tw-flex-row tw-gap-2 sm:tw-gap-0 tw-items-center tw-justify-between"
  >
    <a class="tw-flex tw-items-center">
      <span class="tw-self-center tw-text-2xl tw-font-semibold"> My-Cart </span>
    </a>
    <span class="tw-text-sm tw-text-gray-500 sm:tw-text-center">
      © {{ activeYear }} <a class="tw-hover:underline">My-Cart</a>. All Rights
      Reserved.
    </span>
  </div>
</footer>
